@font-face {
  font-family: zee;
  src: url(image/KeramiqueScript_PERSONAL_USE_ONLY.otf);
} 

body {
  margin: 0;
  padding: 0;
}

/* Hero Page */
.navbar-brand {
  color: #b85b0af5; /* Warna logo awal */
  font-size: 30px;
  font-weight: 400;
  font-family: 'Zee';
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand.scrolled-logo {
  color: white;
}

#main-navbar.scrolled .nav-link {
  color: #fff;
}

.nav-link {
  color: aliceblue; 
  transition: color 0.3s ease;
  margin-right: 20px;
}

.nav-link:hover {
  color: #d97f25; 
}

.navbar {
  transition: background-color 0.7s ease, box-shadow 0.5s ease;
  background-color: transparent;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    transition: all 0.3s ease;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon,
  .navbar-toggler:focus .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23A52A2A' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-toggler {
    border: none;
    padding: 0.5rem;
  }

  .navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(165, 42, 42, 0.3);
  }

.banner {
  min-height: calc(100vh - 56px); 
  background-image: url('image/bgtest.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
}

.text{
    color: azure;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('image/bgtest.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  }

  /* End Hero Page */